{% extends 'base.html.twig' %}

{% block content %}
    <a href="{{ path('app_admin_create_category_type') }}">Ajouter un nouveau type de cagtégorie.</a>

    <ul>
        {% for category_type in category_types %}
            <li>
                <a href="{{ path('app_admin_update_category_type', {id: category_type.id}) }}">{{ category_type.name }}</a>
                <a href="{{ path('app_admin_delete_category_type', {id: category_type.id}) }}">Supprimer X</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_admin_dashboard') }}">Retour</a>
{% endblock %}
